input[type="number"]
{
	width:35px;
}

input , select 
{
	background-color: rgb(160,160,160);
	margin-bottom: 5px;  
}

textarea
{
	background-color: rgb(160,160,160);
}

input[type="checkbox"]
{
	visibility: hidden;
}

label
{
	cursor: pointer;
}

input[type="checkbox"] + label:before {
	border: 1px solid #333;
	content: "\00a0";
	display: inline-block;
	font: 16px/1em sans-serif;
	height: 16px;
	margin: 0 .25em 0 0;
	padding: 0;
	vertical-align: top;
	width: 16px;
}

input[type="checkbox"]:checked + label:before
{
	color: #333;
	content: "\2713";
	text-align: center;
}

input[type="checkbox"]:checked + label:after
{
	font-weight: bold;
}

input[type="checkbox"]:focus + label::before
{
	outline: rgb(160, 160, 160) auto 5px;
}

form
{
	display: inline
}

.choixactuel
{
	background-color: rgb(240,130,130);
}