body
    {
    background-color: rgb(165,192,201);;
    color: black;
    padding-top: 25px;
    padding-left:10px;
    height: 60vh;
    justify-content: space-around;
    flex-direction: column;
    font-family: sans-serif;
    }

.corps
    {
    margin-left: 0;
    margin-top: 6%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    display: inline-block;    
    vertical-align: top;
    padding: 1px 10px;
    height: 1000px;
    }