.menu
    {
    position:absolute;
    width: 130px;
    vertical-align: top;
    border: 3px blue double;
    padding-left:10px;   
    }

.menu li
    {
	padding-top: 1px;
    margin-left:20px;
    display: list-item;
    }

.lienmenu
    {
    color: rgb(53,55,132);
    }

.lienmenu:hover /* Apparence au survol des liens */
    {
	text-decoration: underline;
	color: green;
    }

.titremenu
    {
    color: rgb(80,80,80);   
    font-family: Impact;
    font-size: large;
    }

.nvmessage
    {
    color: rgb(180,0,0);
    font-size: normal;
    font-weight:bold;
    margin-bottom:-10px;
    margin-right:-10px;
    }

.ordreflotte
    {
	padding-top: 1px;
    margin-left:20px;
    }